# macOS
.DS_Store
**/.DS_Store

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/

# Data (large files not for version control)
*.parquet
*.feather
